@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  z-index: -1;
  filter: opacity(0.85);
  filter: grayscale(0.3);
  animation: fadeIn 0.8s linear;
}

section {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.clock,
.weather-container,
.greeting,
.todo {
  animation: upDown 0.8s linear;
}

.clock h1 {
  font-family: 'Jost', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
}

.weather-container {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.weather {
  font-size: 1.4rem;
  font-weight: 300;
}

section input {
  width: 22rem;
  height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgb(140, 140, 140);
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  text-indent: 2px;
}

input:focus,
input:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2.4px 2.4px 3.2px;
}

.greeting-form {
  display: none;
}

.greeting-fill {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

.showing {
  display: block;
}

.todo input {
  margin: 1.2rem 0;
}

.todo-list {
  padding: 0;
  margin: 0 auto;
  width: 22rem;
  height: 15rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.todo-list::-webkit-scrollbar {
  width: 4px;
}

.todo-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.todo-list::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 5px;
}

.todo-list li {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 0;
  animation: upDown 0.8s linear;
}

.todo-list li:hover,
.todo-list li:active {
  transform: translateY(-1.25px);
}

.todo-list button {
  font-size: 1.5rem;
  padding: 0;
  padding-right: 0.5rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes upDown {
  from {
    opacity: 0;
    transform: translateY(-3px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  html {
    font-size: 57%;
  }
}

@media (min-height: 1200px) {
  html {
    font-size: 80%;
  }
}